@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.hero-section {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  padding: 42px 120px;
  padding-right: 100px;
  background: #f4f4f4;
  gap: 60px;
  /* background: linear-gradient(rgba(235, 235, 235, 1), rgba(235, 235, 235, 1)), url(../assets/images/hero-bg.svg); */
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-position: center;
  background-size: cover;
}
.hero-content h1 {
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -3%;
  vertical-align: middle;
  color: Black;
  margin-top: 20px;
}
.hero-content h1 span {
  font-style: italic;
  color: rgba(255, 204, 42, 1);
}
.hero-content p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 508px;
  margin-top: 20px;
  color: #a0a0a0;
}
.hero-texts button {
  padding: 20px 48px;
  /* background: #000; */
  color: #000;
  border-radius: 60px;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  background: rgba(255, 204, 42, 1);
}
.hero-texts a {
  padding: 20px 48px;
  background-color: #000;
  color: #fff;
  border-radius: 60px;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
}
.hero-texts a:hover {
  background-color: #333;
  transition: all 0.3s ease-in-out;
  transform: translateY(-5px);
}
.hero-btns {
  padding: 24px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 120px 0;
  /* border-bottom: rgba(221, 221, 228, 1) 1px solid; */
  background: rgba(244, 244, 244, 1);
  position: relative;
  /* margin-bottom: 60px; */
  margin-left: 80px;
}
.socials {
  display: flex;
  gap: 16px;
  margin-top: 50px;
}
.socials img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.socials img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.socials-mobile {
  display: none;
}

/* WAITLIST */
.wait-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}
.card-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  background: #ffff;
  box-shadow: 6px 9px 8.2px 0px #0000000d;
  padding: 32px;
  width: 563px;
  gap: 32px;
  border-radius: 32px;
  /* width: 100%; */
}
form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}
label {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 14px;
}
input {
  box-shadow: 10px 8px 6px 0px #0000000d;
  border-radius: 8px;
  border: none;
  padding: 12px 16px;
  width: 100%;
}
.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.inputss{
  display: flex;
  width: 100%;
  gap: 14px;
}
button{
  /* width: 200px; */
}

@media screen and (max-width: 1290px) {
  .hero-section {
    padding: 42px 100px;
  }
  .navbar {
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    gap: 18px;
  }
  .hero-partner {
    display: none;
  }
  .hero-content button {
    margin-bottom: 0;
  }
  .navbar {
    padding: 32px 100px;
  }
  .socials {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .socials-mobile {
    display: flex;
    margin-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  .hero-section {
    padding: 68px 32px;
  }
  .hero-content h1 {
    font-size: 32px;
    line-height: 36px;
    width: 100%;
  }
  .hero-image {
    width: 100%;
    height: 100%;
  }
  .hero-content p {
    width: 100%;
  }
  .navbar {
    padding: 32px 32px;
  }
}

@media screen and (min-width: 1500px) {
  .hero-section {
    justify-content: center;
  }
  .hero-texts {
    display: flex;
    flex-direction: column;

    align-items: start;
    gap: 12px;
  }
  .hero-content h1 {
    width: 700px;
  }
  .navbar {
    width: 1220px;
    padding: 32px 30px;
    margin-left: 0;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
  }
}
